{% extends "base.html" %}
{% load bootstrap3 %}

{% block content %}

<div class="col-sm-10 blogShort">

  <h1>{{propertymodel.title}} </h1>
  <p>Author: <a href="{% url 'estate_app:user_offers_view' propertymodel.author %}">{{propertymodel.author}}</a> </p>
  <p>Price: {{propertymodel.price}} </p>
  <p>City: {{propertymodel.city}} </p>
  <p>Estate type: {{propertymodel.estate_type}} </p>
  <p>Property description: {{propertymodel.text}} </p>

  <div class="row gallery">
    {% for image in propertymodel.images.all %}
      <a href="{{image.image.url}}"><img src="{{image.image.url}}" alt="Image Not Found" class="img-thumbnail col-sm-4"></a>  
    {% endfor %}
  </div>
  <br>
  {% if propertymodel.author == user %}
    <p> <a class="btn btn-default" href="{% url 'estate_app:delete_property' pk=propertymodel.id %}">DELETE</a>
     <a class="btn btn-default" href="{% url 'estate_app:edit_property' pk=propertymodel.id %}">EDIT</a></p>
  {% endif %}
</div>

<div class="col-sm-10 blogShort pull-right">
  <h1>Send message to the author:</h1>
  <form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <input type="submit" name="" value="Send Message">

  </form>
</div>
{% endblock %}
