{% extends "base.html" %}
{% load bootstrap3 %}
{% load my_tags %}

{% block content %}


  <div class="col-sm-10 blogShort">
    <form method="GET">
      <h3>Filter:</h3>
      <br>
      {{filter.form.as_table}}
      <br>
      <br>
      <input class="btn btn-default" type="submit" value="Filter!">
      <a class="btn btn-default" href="{%url 'estate_app:property_list_view' %}">Reset Filters!</a>
    </form>
    <br>
  </div>




    {% for offer in filter.qs %}

      <div class="col-sm-10 pull-right blogShort">
          <h1>{{offer.title}}</h1>
          <div class="col-sm-4 pull-left">
            <img src="{% get_first_photo offer.id %}" alt="post img" class="pull-left img-responsive margin10 img-thumbnail profile-img">
          </div>

          <article><p>
              Description: {% cut_text offer.text %} <br>
              Price: {{offer.price}} <br>
              City: {{offer.city}}
            </p></article>

          <a class="btn btn-blog pull-right marginBottom10" href="{% url 'estate_app:property_detail_view' offer.id %}">READ MORE</a>
      </div>

    {% endfor %}



{% endblock %}
