<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html lang="en" dir="ltr">
  <head>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'estate_pro/css/master.css' %}" type="text/css">

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img class="bg-picture" src="{% static 'estate_pro/city.PNG' %}" alt="">
    <div class="container">
	     <div id="blog" class="row">

          <div class="col-sm-2 paddingTop20">
            <nav class="nav-sidebar">
                <ul class="nav">
                    <li class="active"><a href="{%url 'estate_app:property_list_view' %}"><span class="glyphicon glyphicon-star"></span> Estates</a></li>
                    {% if user.is_authenticated %}
                      <li><a href="{% url 'estate_app:property_create' %}">Create offer</a></li>
                      <li><a href="{% url 'estate_app:my_offers_list' %}">My Offers</a></li>
                      <li><a href="{% url 'accounts:chat' %}">
                        Inbox: {% total_messages user.id %} <b> ({% unread_messages user.id %})</b> </a> </li>
                      <li> <a href="{% url 'accounts:details_view' pk=user.id %}">Profile</a></li>
                      <li class="nav-divider"></li>
                      <li><a href="{% url 'accounts:logout'%}"><i class="glyphicon glyphicon-off"></i> Log out</a></li>
                    {% else %}
                      <li class="nav-divider"></li>
                      <li> <a href="{% url 'accounts:login' %}"><i class="glyphicon glyphicon-off"></i> Log in </a></li>
                    {% endif %}
                </ul>
            </nav>
                      <div><h2 class="add">Place for your add!</h2></div>
        </div>

        {% block content %}
        {% endblock %}

      <div class="col-md-12 gap10"></div>
     </div>
    </div>
  </body>
</html>
